
.imagexpander {
  -webkit-transition: -webkit-transform 0.3s ease, box-shadow 0.3s ease 0s, z-index 0s ease 0.3s;
  transition: transform 0.3s ease, box-shadow 0.3s ease 0s, z-index 0s ease 0.3s;
  -webkit-transform: translate3d(0,0,0) scale(1);
  transform: translate3d(0,0,0) scale(1);
  box-shadow: 0 0 0 0 rgba(255,255,255,0);
  z-index: 1;
  position: relative;
}

.imagexpander.imagexpander-showing {
  -webkit-transition: -webkit-transform 0.3s ease, box-shadow 0.3s ease 0.3s, z-index 0.3s ease;
  transition: transform 0.3s ease, box-shadow 0.3s ease 0.3s, z-index 0.3s ease;
  box-shadow: 0 0 0 10000px rgba(255,255,255,1);
  z-index: 10;
}
